body{
    
    background-color: darkslategrey;
}

header{
    text-align: center;
    background-color: white;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 40px;
}
    .container{
    background-color:lightgray;
    border: 2px solid black;
}
#score-board{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}
.badge-primary{
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 30px;
    position: relative;
    right: 80px;
    border: solid black 2px;
}
.badge-danger{
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 30px;
    position: relative;
    left: 80px;
    border: 2px solid black;
}
p{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}
img{
    margin-bottom: 40px;
    padding: 2px;
}

img:hover{
    cursor: pointer;
    background-color: red;
    transition: all 0.3s;
}
#messaging{
    position: relative;
    left: 370px;
    margin-top: 30px;
}